*{
  margin: 0px;
}
h1{
  background-color: rgb(219, 137, 194);
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
  border: 5px inset rgb(113, 55, 206);
}
body , background-image{
  background-repeat: no-repeat;
  background-size: 1400px 700px;

}
nav{
  background-color: greenyellow;
  width: 180px;
  float: left;
}
 ul,li{
   list-style-type: none;
   padding: 10px;
   border-bottom: 1px solid black;
  }
 li,a{
   text-decoration: none;
   text-align: right;
   
 }
 div.main{
   margin-left: 200px;
 }

.div,h2{
   margin-left:0%;
   background-color: gainsboro;
   padding: 10px;
   border: 1px solid black;
   text-align: center;
 }

 .center{
   display: block;
   padding: 20px;
   width: 400px;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   background-color: rgb(172, 255, 172);
   border: 2px dotted green;
 }

 figcaption{
   text-align: center;
   background-color: gold;
   color: red;
   font-size: 25px;
   margin-top: 10px;
   border: 2px solid red;
   width: 190px;
   height: 25px;
   margin: auto;
   margin-top: 10px;
   padding: 0.5em;
   margin-bottom: 10px;
 }

 p{
   padding: 5px;
   background-color: rgb(198, 198, 223);
   margin-top: auto;
   border: 2px outset black;
   border-collapse: collapse;
 }
li:hover {
  background-color: rgb(195, 155, 218);
  }


